.btn {
    padding: 13px 38px;
}
.btn-alpha {
    font-size: 0.8rem !important;
    color: #ffffff!important;
    background-color: theme-color('primary');
    border-color: theme-color('primary');
    letter-spacing: 1px;
}